
.option-selector {
    margin: 2rem 0;
    width: 100%;

    .option-selector__title {
        padding-bottom: .5rem;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .option-selector__list {
        display: flex;
        gap: 1rem;
        position: relative;
        .option-selector__item {
            cursor: pointer;
            padding: .8rem 1.8rem;
            border: .1rem solid var(--bg-gray);
            background-color: var(--bg-gray);
            border-radius: .4rem;
            font-size: 1.4rem;
            transition: all .3s ease;

            &.active {
                background-color: var(--text-dark);
                color: var(--text-light);
            }
        }
    }
}