.trust-badges {
    margin: 4rem 0;
    .trust-badges-list {
        .trust-badge-items {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;

                svg {
                    font-size: 1.5rem;
                }


            p {
                font-size: 1.4rem;
            }
        }
    }
}