.watsapp {
    position: fixed;
    bottom: 2%; right: 2%;
    background-color: #2DD36B;
    padding: 1.5rem;
    border-radius: 50%;
    transform: scale(1);
    transition: all .3s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
    &:hover {
        transform: scale(1.05);
    }
    a {
        svg {
            width: 3rem; height: 3rem;
            color: var(--text-light);

        }
    }
}