.nav-menu {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        flex: 3;
        &.scrolled {
            .nav-menu-list {
                gap: 2rem;
                ul {
                    gap: 2rem;
                    li {
                        a {
                            font-size: 1.6rem;
                        }
                    }
                }

                .middle-logo {
                    img {
                        width: 7rem; height: 7rem;
                    }
                }
            }
        }
        .nav-menu-list {
            display: flex;
            align-items: center;
            gap: 3rem;
            transition: all .7s linear;
            .first-list {
                display: flex;
                justify-content: right;
            }

            .second-list {
                display: flex;
            }
            .first-list,
            .second-list {
                transition: all .7s linear;
                min-width: 20rem;
                gap: 3rem;
                li {
                    position: relative;

                    &::after {
                    content: "";
                        position: absolute;
                        bottom: -1rem;
                        left: 0;
                        height: 0.2rem;
                        width: 100%;
                        background-color: var(--secondary-color);
                        transition: all 0.3s linear;
                        transform: scale(0);
                        transform-origin: middle;
                        border-radius: 50%;
                        z-index: 99;
                    }
                    &:hover::after {
                        transform: scale(1);
                    }
                    a {
                        color: var(--secondary-color);
                        font-size: 1.7rem;
                        transition: all .7s linear;
                    }
                }
            }
            .middle-logo {
                img {
                    width: 8rem; height: 8rem;
                    transition: all .7s linear;
                }
            }
        } 
    }

    @media (min-width: 1024px) {
        &.scrolled {
            .nav-menu-list {
                gap: 4rem;
                ul {
                    gap: 4rem;
                }

                .middle-logo {
                    img {
                        width: 8rem; height: 8rem;
                    }
                }
            }
        }
        .nav-menu-list {
            gap: 4rem;
            .first-list,
            .second-list {
                gap: 4rem;
            }
            .middle-logo {
                img {
                    width: 10rem; height: 10rem;
                    transition: all .7s linear;
                }
            }
        } 
    }
}