.terms-privacy {
    margin-top: 9rem;
    margin-bottom: 5rem;
    text-align: center;

    p {
        line-height: 2rem;
        margin: 2rem 0;
    }
    
    @media (min-width: 768px) {
        margin-top: 17rem;
    }
}